- unless day.has_time_blocks?
  .row
    .col-md-3
      &nbsp;
    .col-md-9
      %h3.text-muted
        %time{datetime: true}
          = day.date.strftime("%A %e %B")
      .text-muted.lead
        = day.note
- else
  .row
    .col-md-3
      &nbsp;
    .col-md-9
      %h3
        %time{datetime: true}
          = day.date.strftime("%A %e %B")
  .row
    - day.time_blocks.each do |block|
      .col-md-3.lead
        %strong
          =block.time_as_number
          =block.place
      .col-md-9.lead
        =block.note
        - block.business_items.each do |item|
          %p= item.description
%hr

