.row
  - unless day.has_time_blocks?
    .col-md-8.col-md-offset-4.text-muted
      %h3
        %time{datetime: true}
          = day.date.strftime("%A %e %B")
      .lead
        = day.note
  - else
    .col-md-8.col-md-offset-4
      %h3
        %time{datetime: true}
          = day.date.strftime("%A %e %B")
    - day.time_blocks.each do |block|
      .col-md-4.lead
        
        =block.time_as_number
        %strong
          =block.place
      .col-md-8.lead
        - if block.note
          =block.note

        - block.business_items.each do |item|
          %p= item.description
          
%hr.hidden-xs.hidden-sm

