.row.lead
  .custom-pagination<
    .col-md-2
      - if @page > 1
        %a.prev{:href => "/?page=#{@page-1}"} &laquo; Prev
      - else
        %span.prev.text-muted.pull-left &laquo; Prev
      
    .col-md-8.text-center
      Showing #{@offset + 1} to
      - if @offset + 10 < @total
        =@offset + 10
      - else
        =@total 
      of #{@total}
      
    .col-md-2
      - if @offset + 10 < @total
        %a.next.pull-right{:href => "/?page=#{@page+1}"} Next &raquo;
      - else
        %span.next.text-muted.pull-right Next &raquo;