

.ul.pager.lead
  
  - if @page > 1
    %li
      %a{:href => "/?page=#{@page-1}"}
        &larr; Previous
  - else
    %li.disabled
      %a
        &larr; Previous
        
  
  
  - if @offset + 10 < @total
    %li
      %a{:href => "/?page=#{@page+1}"}
        Next &rarr;
  - else
    %li.disabled
      %a
        Next &rarr;

.text-center.lead
  Page #{@page} of #{@total} results