.ul.pager.lead
  
  - if @page > 1
    %li.previous
      %a{:href => "/?page=#{@page-1}"}
        &larr; Previous
  - else
    %li.previous.disabled
      %a
        &larr; Previous
        
  Page #{@page} of #{@total} results
  
  - if @offset + 10 < @total
    %li.next
      %a{:href => "/?page=#{@page+1}"}
        Next &rarr;
  - else
    %li.next.disabled
      %a
        Next &rarr;