%h1
  Editing:
  =@day.date.strftime("%A, %e %B %Y")
  
- if @day.is_provisional
  %p.warn
    Content is marked as provisional

%p
  Main source data: 
  %a{:href => "/pdf-demo.html#page=3", :target => "_new"}= @day.pdf_info["filename"]
  
- @day.time_blocks.each do |block|
  %h3{:class => block.id}= block.title
  -if block.note
    %p= block.note
  
  -block.business_items.each do |item|
    %p{:class => item.id}= item.description