=haml(:_pagination) 

- @calendar_days.each do |day|
  =haml(:_calendar_day, :locals => {:day => day})

=haml(:_pagination)

.row.lead
  .col-md-8.col-md-offset-4
    <strong>Export</strong>
    &mdash; 
    %a{href: "/index.txt"} Text
    &mdash; 
    %a{href: "/cal"} iCal
    &mdash;
    %a{href: "/index.xml"} XML
    &mdash;
    %a{href: "/index.json"} JSON
    &mdash;
    %a{href: "/opml"} OPML
    &mdash;
    %a{href: "/rss"} RSS
  

