!!!
%html{:lang => "en-GB"}
  %head
    %meta{:charset => "utf-8"}
    %title LordsWhip
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %script{:src => "js/jquery.js"}
    %script{:src => "js/bootstrap.min.js"}
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %style
      body {padding-top:30px;}
    - if @editing
      %style
        div#editor {width: 45%; float: left; clear: left; margin-right: 8%;}
        div#pdf-viewer {width: 45%, float: left; clear: right;}
        canvas#the-canvas {border: 1px solid black;}
      %script{:src => "js/pdf-demo.js"}
      %script{:src => "js/pdfjs/shared/util.js"}
      %script{:src => "js/pdfjs/shared/colorspace.js"}
      %script{:src => "js/pdfjs/shared/pattern.js"}
      %script{:src => "js/pdfjs/shared/function.js"}
      %script{:src => "js/pdfjs/shared/annotation.js"}
      %script{:src => "js/pdfjs/display/api.js"}
      %script{:src => "js/pdfjs/display/metadata.js"}
      %script{:src => "js/pdfjs/display/canvas.js"}
      %script{:src => "js/pdfjs/display/font_loader.js"}
      %script
        PDFJS.workerSrc = 'js/pdfjs/worker_loader.js';
      %script{:src => "js/pdf-demo.js"}
  %body
    .container
      .navbar.navbar-default{role: "navigation"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} LordsWhip

        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav.pull-right
            %li
              %a{href: "/edit-mockup"} Edit
            %li
              %a{href: "/cal"} iCal
            %li
              %a{href: "/index.xml"} XML
            %li
              %a{href: "/index.json"} JSON 
          %form.navbar-form.navbar-right{role: "search"}
            .form-group
              %input.form-control{type: "text"}
            %button.btn.btn-default{type: "submit"} Search
      .clearfix
        =yield
      .lead
        Information on this site is from PDFs previously made public on the web by <a href="http://www.lordswhips.org.uk">The Government Whips' Office</a>, part of the <a href="https://www.gov.uk/government/organisations/cabinet-office">Cabinet Office</a>'s <a href="https://www.gov.uk/government/organisations/office-of-the-leader-of-the-house-of-lords">Government in Parliament Group</a>.
      .lead
        Source code for this site is available at <a href="https://github.com/robertbrook/whippet">github.com/robertbrook/whippet</a>.
  
    
