!!! 5
%html{:lang => "en-GB"}
  %head
    %title LordsWhip
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
  %body
    %div#wrap
      %form.form-search.pull-right
        %input.input-medium.search-query{:type => "text", :name => "q"}
        %button.btn{:type => "submit"} Search
      %ul.nav.nav-pills.lead
        %li.disabled
          %a LordsWhip
        %li
          %a{:href => "/cal"} cal
        %li
          %a{:href => "/cal?ics"} ics

      =yield
      %p
        %time{:datetime => @time}
          Page generated &mdash; 
          =@time
    %script{:src => "http://code.jquery.com/jquery.js"}
    %script{:src => "js/bootstrap.min.js"}
