!!!
%html{:lang => "en-GB"}
  %head
    %meta{:charset => "utf-8"}
    %title LordsWhip
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
  %body
    .container
      %h1.page-header
        LordsWhip
        %small
          Prototype
      %ul.nav.nav-pills.lead
        %li
          %a{:href => "/"} Forthcoming Business
        %li
          %a{:href => "/cal"} iCal    
        %li
          %a{:href => "/index.xml"} XML
        %li
          %a{:href => "/index.json"} JSON   
      %hr
      =yield
      %p.lead
        Information published on this site is made available by <a href="http://www.lordswhips.org.uk">The Government Whips' Office</a>, part of the <a href="https://www.gov.uk/government/organisations/cabinet-office">Cabinet Office</a>'s <a href="https://www.gov.uk/government/organisations/office-of-the-leader-of-the-house-of-lords">Government in Parliament Group</a>.
