!!!
%html{:lang => "en-GB"}
  %head
    %meta{:charset => "utf-8"}
    %title LordsWhip
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
  %body
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{:href => "#"} Latest
          %li
            %a{:href => "/cal"} cal
          %li
            %a{:href => "/cal?ics"} ics
        %h1.text-muted LordsWhip
      .row
        =yield
      .footer
        %p
          Page generated &mdash;
          %time{:datetime => @time} 
            =@time
    %script{:src => "http://code.jquery.com/jquery.js"}
    %script{:src => "js/bootstrap.min.js"}
