!!! 5
%html{:lang => "en-GB"}
  %head
    %title LordsWhip
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :media => "screen"}
    %link{:href => "css/bootstrap-responsive.min.css", :rel => "stylesheet"}
  %body{:style => "padding:3%;"}
    %div.container
      %div.row
        %div.span2
        %div.span8
          %div.navbar
            %div.navbar-inner
              %a.brand{:href => ""}
                Lords Whip
              %ul.nav
                %li.active
                  %a{:href => ""}
                    Calendar
                %li
                  %a{:href => ""}
                    New
              %form.navbar-form.pull-right{:action=>"search"}
                %input.span2{:type=>"text", :placeholder=>"Search", :name=>"q"}
                %button.btn{:type=>"submit"}
                  Search
          =yield