<!DOCTYPE html>
<html lang='en-GB'>
  <head>
    <meta charset='utf-8'>
    <title>Lords Whip</title>
    <script src='/js/jquery.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <link href='/css/bootstrap.min.css' rel='stylesheet'>
    <style>
      body {padding:3%;}
    </style>
  </head>
  <body>
    <div class='container'>
          
        <%= yield %>
        </div>
      </html>