.page-header
  %h1
    =params[:q]
    %small<
      =@subtitle

- @items.each do |item|
  %p.lead<
    =item.description
    %br
    =item.time_block.title
    &nbsp;
    %a=item.meta['pdf_info']['filename']
    
    